.testimonials-section {
    background-color: $navy-deep;
    color: $white;
    padding: 80px 0;

    .section-header {
        text-align: center;
        margin-bottom: 60px;
    }

    .testimonials-slider {
        position: relative;
        max-width: 800px;
        margin: 0 auto;
        overflow: hidden;
    }

    .testimonial-slide {
        display: none;
        text-align: center;

        &.active {
            display: block;
        }
    }

    .testimonial-text {
        font-size: 24px;
        font-style: italic;
        margin-bottom: 30px;
    }

    .testimonial-author {
        .author-name {
            font-weight: 600;
        }

        .author-title {
            color: $slate-text;
        }
    }

    .slider-arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: transparent;
        border: 1px solid $slate-text;
        color: $white;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: $transition;

        &:hover {
            background-color: $brand-red;
            border-color: $brand-red;
        }

        &.prev {
            left: 20px;
        }

        &.next {
            right: 20px;
        }
    }

    .slider-dots {
        text-align: center;
        margin-top: 40px;

        .dot {
            display: inline-block;
            width: 10px;
            height: 10px;
            background-color: $slate-text;
            border-radius: 50%;
            margin: 0 5px;
            cursor: pointer;
            transition: $transition;

            &.active {
                background-color: $white;
            }
        }
    }
}
