.testimonial-content {
    .testimonial-text {
        max-height: 120px;
        overflow: hidden;
        position: relative;
        transition: max-height 0.5s ease-in-out;

        &.expanded {
            max-height: 500px;
        }
    }

    .read-more-link {
        color: #e53935;
        cursor: pointer;
        display: block;
        margin-top: 10px;
        font-weight: 600;

        &:hover {
            text-decoration: underline;
        }
    }
}
